.education-container span{
    color: #CFCFCF;
}
.education-container p{
    color: #CFCFCF;
}

.education-container h1{
    font-weight:500;
}

.education-container{
    display: flex;
    justify-content: center;
    gap: 12rem;
}

.yellowCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FFB400;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
}