
@media (min-width :1022px) and (max-width :1496px) {
    .image{
        height: 28rem;
    }
    .container{
        padding-right:0 ;
    }
     .textbox{
        width: 70rem;
     }

     .imgbox{
        width:50rem;
     }

     .textbox h1{
        font-size: 36px;

     }

    

}

@media (max-width :1022px){
    .yellowbox{
        width: 15rem;
    }
}




.random-word {
  animation: slidedown 4s infinite;
}

@keyframes slidedown {
  0% {
    opacity: 50;
  }
  
  5% {
    opacity: 0;
    transform: translateY(0.5em);
  }
  
  7% {
    transform: translateY(-1em);
  }
  
  10% {
    opacity: 0;
  }
  
  20% {
    transform: translateY(0);
    opacity: 100;
  }
}

