/* Custom styles for the service blocks */
.service-card {
  background: white;
  transition: transform .5s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.service-title {
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
  text-align: left;
}

.service-description {
  font-size: 1rem;
  color: black;
  text-align: left;
  line-height: 1.5;
}

.service-icon {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 340px) {
  .service-card {
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .service-card {
    padding: 2rem;
  }
}
