.nav-item{
  transition: all 0.5s ease;
  width: 2.8rem;
  overflow: hidden;
  color: white;
}

.nav-item:hover{
  background-color: #ffb400;
  color: white;

}

.nav-text {
  transition: opacity 0.5s ease;
  display: none;
  font-weight: 900;
  font-size: small;
 }

.nav-item:hover .nav-text {
  display: inline-block;
  
  
}
