.nav-item {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #222222;
    color: #ccc;
    padding: 0.75rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .nav-item:hover {
    background-color: #ffcc00; /* Hover background color */
    width: 6rem; /* Expand width on hover */
  }
  
  .nav-text {
    display: none;
    margin-left: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 3rem;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .nav-item:hover .nav-text {
    display: inline-block;
  }
  